@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading-wheel{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 4px solid #4338CA;
    border-color: #4338CA transparent #4338CA transparent;
    animation: spin 1.2s linear infinite;
}

#root{
    overflow-x: hidden;
}